@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,900;1,600&family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #B0E4F9;
}

a {
    display: inline-block;
}

img {
    max-width: 100%;
}

.card-block {
    width: 100%;
    padding-block: 80px;
}

.card-block>h1 {
    text-align: center;
}

.card {
    width: 650px;
    padding: 40px 50px 40px 30px;
    background-color: #D8F0FC;
    border-radius: 15px;
    margin-inline: auto;
    margin-top: 40px;
    display: flex;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.15);
    position: relative;
    overflow: hidden;
}

.card::after {
    content: '';
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    position: absolute;
    border-radius: 10px;
    top: -15px;
    left: -15px;
}

.card-img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #fff;
    z-index: 2;
    cursor: pointer;
}

.card-content {
    margin-left: 30px;
    position: relative;
    z-index: 2;
}

.card-content h1 {
    font-size: 2rem;
}
.card-content h4{
    color: #666565;
    font-size: .8rem;
}
.card-content p {
    font-size: 1.1rem;
    line-height: 26px;
    margin: 15px 0;
}

.work {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.work-info {
    margin-right: 40px;
}
.btn {
    display: flex;
    gap: 16px;
}
.primary-btn {
    width: 150px;
    text-align: center;
    font-weight: 600;
    font-size: 17px;
    text-decoration: none;
    padding: 10px 0;
    background-color: #222222;
    border-radius: 8px;
    color: #E3DCD6;
    border: 2px solid #222222;
    transition: .3s ease-in-out;
}

.primary-btn:hover {
    color: #222222;
    background-color: transparent;
}

.secondary-btn {
    width: 150px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 0;
    background-color: transparent;
    border-radius: 8px;
    color: #222222;
    border: 2px solid #222222;
    transition: .3s ease-in-out;
    text-decoration: none;
}

.secondary-btn:hover {
    background-color: #222222;
    color: #E3DCD6;
    transition: .3s ease;
}

.card img:hover {
    border: 4px solid #5073f1;
    transition: .3s ease;
}

.shape1 {
    height: 200px;
    width: 200px;
    display: block;
    border-radius: 50%;
    background-color: #6a87f1;
    position: absolute;
    top: -90px;
    right: -90px;
    z-index: 2;
    transition: .3s ease;
}

.shape1:hover {
    height: 100%;
    width: 100%;
    border-radius: 0;
    top: 0;
    right: 0;
}

.shape2 {
    height: 100px;
    width: 100px;
    display: block;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: absolute;
    top: 50px;
    right: -60px;
    z-index: 1;
    transition: .3s ease;
}

.shape2:hover {
    height: 100%;
    width: 100%;
    border-radius: 0;
    top: 0;
    right: 0;
    z-index: 2;
}

.shape1:hover~.card-content {
    color: #fff;
}

.shape1:hover~.card-content .secondary-btn {
    color: #fff;
    border-color: #fff;
}

.shape2:hover~img {
    border-color: #B0E4F9;
}

/* Responsive Design */
@media (max-width: 768px) {
    .card-block {
        padding-inline: 10px;
    }

    .card-block h1 {
        width: 100%;
        font-size: 20px;
        text-align: center;
    }
    .card {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .card .card-img {
        margin-inline: auto;
    }
    .card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 0;
        padding-top: 10px;
    }

    .card-content 
    h1,
    h4,
    p {
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        text-align: center;
    }
    .card-content p{
        width: 70%;
    }
    .btn {
        display: flex;
        gap: 10px;
    }

    .primary-btn,
    .secondary-btn {
        width: 130px;
        font-size: 14px;
    }

    .secondary-btn {
        margin-left: 10px;
    }

}

@media (max-width: 480px) {
    .card-block {
        width: 100%;
        padding-inline: 10px;
    }
    .card {
        width: 100%;
    }

    .card .card-img {
        margin-inline: auto;
    }

    .card-content {
        margin-left: 0px;
    }

    .card-content h1 {
        font-size: 1.5rem;
        text-align: center;
    }
    .card-content p{
        width: 100%;
    }
    .work {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center !important;
        gap: 45px;

    }
    .work .work-info{
        margin-right: 0px;
    }
    .primary-btn,
    .secondary-btn {
        width: 100px;
        font-size: 12px;
        text-align: center;
        margin-top: 16px;
    }
    .shape1 {
        height: 130px;
        width: 130px;
        top: -70px;
        right: -70px;
    }

    .shape2 {
        height: 80px;
        width: 80px;
        top: 40px;
        right: -50px;
    }
}